@font-face {
  .font(@sansRegular,@sansRegular,normal);
}
@font-face {
  .font(@sansRegular,@sansSemiBold,600);
}
@font-face {
  .font(@sansRegular,@sansExtraBold,800);
}
@font-face {
	.font(@lobster,@lobster,normal);
}
@font-face {
	.font(@fontAwsome,@fontAwsome,normal);
}

html {
	font: 10px/15px 'Open Sans';
}

body {
	margin: 0;
	padding: 0;
	color: #4e525d;
	background-color: #fff;
}

h1, h2, h3 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: #4e525d;
	text-decoration: none;
}
