@mobile: ~"(max-width: 320px)";
@mobile-m: ~"(max-width: 480px)";
@mobile-xl: ~"(max-width: 640px)";
@tablet: ~"(max-width: 768px)";
@laptop: ~"(max-width: 1100px)";
@desctop: ~"(max-width: 1920px)";
@desctop-only: ~"(min-width: 769px)";

@lobster: 'Lobster14';
@sans: 'OpenSans';
@sansRegular: '@{sans}-Regular';
@sansSemiBold: '@{sans}-SemiBold';
@sansExtraBold: '@{sans}-ExtraBold';
