@mobile: ~"(max-width: 320px)";
@mobile-max: ~"(max-width: 640px)";
@tablet: ~"(max-width: 768px)";
@laptop: ~"(max-width: 1280px)";
@desctop: ~"(max-width: 1920px)";
@desctop-only: ~"(min-width: 769px)";


@fontAwsome: 'FontAwesome';
@lobster: 'Lobster14';
@sansRegular: 'OpenSans';
@sansSemiBold: '@{sansRegular}-Bold';
@sansExtraBold: '@{sansRegular}-ExtraBold';
